.prueba-flex-contacto {
    background-color: #8DA3F6;
    padding: 30px;
    margin: 15px;
  }
  
  .flex-container {
    background-color: #D907A1;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .div-nav {
    background-color: #D907A1;
    padding: 30px;
    margin: 15px;
  }
  
  .nav-flex {
    background-color: antiquewhite;
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }